$bgColor: #012a4a;
$blueButton: #48a3f3;
$yellowButton : #f1a534;
$redButton : #ef666a;
$greenButton : #26cf54;
$calculatorColor : #D0E3F3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
}

button {
  background-color: $blueButton !important;
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
}

input {
  outline: none;
  font-size: 40px !important;
}

.section {
  width: 100vw;
  height: 100vh;
}

.calculatorContainer {
  background-color: $calculatorColor !important;
}

#equal {
  background-color: $greenButton !important;
}

#allClear {
  background-color: $redButton !important;
}

.yellowButton {
  background-color: $yellowButton !important;
}

@media (min-width: 576px) {
  .calculatorContainer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
